<h2>Teeth galley</h2><br>
<a href="/teeth/gallery/add-tooth" class="btn ">Add a tooth..</a> <br>
<form action="/teeth/gallery" method="GET">
    <input type="text" name="name" value="{{searchOption.name}}">
    <button type="submit">Search</button>
</form>

{{#each teeth}}
<div style=" display: inline-block;
    border: 1px solid #2b415433;
    background: white;
    width: 23%;
    size: height: 3000px;
    width: 300px ;
    vertical-align: top;">
    <img style="size: height: 100px;
    width: 100px ; display: block;
    margin:  auto;
    text-align: center" src={{imageURL}}>
    <p class="name">{{name}}</p>
    <a class="btn" href="/teeth/gallery/show/{{_id}}">Read more</a>

    {{#if user.isAdmin}}
    <form action="/teeth/gallery/{{_id}}/edit?_method=DELETE" method="POST" style="display: inline;">
        <a href="/teeth/gallery/{{_id}}/edit" class="btn btn-info">Edit</a></form>

    <form action="/teeth/gallery/{{_id}}?_method=DELETE" method="POST" style="display: inline; ">
        <button type="submit" class="btn btn-danger">Delete</button></form>
    {{/if}}

</div>
{{/each}}