<h1 class="headermain">Orders to complete</h1>

<div class="div">
    {{#unless orders }}
    <h4>No orders to complete </h4>
    {{else}}

    <div class="table-basket">
        <table>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Emai</th>
                <th>Phone number</th>
                <th>Adress</th>
                <th>User ID</th>
                <th>Show products</th>
            </tr>

            {{#each orders}}
            <tr>
                <td>{{_id}}</td>
                <td>{{createdAt}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>{{adress}}</td>
                 <td>{{userID}}</td>
                 <td><a href="/e-shop/order/{{_id}}/details">Products to send</a></td>
            </tr>
            {{/each}}

        </table>
    </div>
    {{/unless}}
</div>